/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require vendor/normalize
 *= require vendor/skeleton
 *= require font-awesome
 *= require_self
 */

h2 {
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: .15rem;
}
h2 .fa {
  font-size: 17px;
}

th {
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: .15rem;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
}

.pre {
	font-family: monospace;
	font-size: 12px;
	overflow: scroll;
	padding: 15px 20px;
	border: 1px solid #eee;
	border-radius: 4px;
  margin: 6px 0;
}
.pre-code {
	white-space: pre;
}
.pre-title {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.color-success {
	color: #0c0;
}
.color-alert {
	color: #d00;
}

.top-bar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, .992);
  z-index: 99;
  border-bottom: 1px solid #eee;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .05);
}
.top-bar:after {
  content: "";
  display: table;
  clear: both;
}
.top-bar-left {
  float: left;
}
.top-bar-right {
  float: right;
}

.top-bar ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-bar li {
  display: inline-block;
  margin: 0;
}
.top-bar li > a,
.top-bar li > span {
  display: inline-block;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: .15rem;
  text-decoration: none;
  line-height: 6rem;
  color: #222;
  border-bottom: 2px solid #fff;
}
.top-bar-left li > a,
.top-bar-left li > span {
  margin-right: 35px;
}
.top-bar-right li > a,
.top-bar-right li > span {
  margin-left: 35px;
}
.top-bar li > a:hover {
  border-bottom-color: #1EAEDB;
}
.top-bar li > a.active {
  color: #1EAEDB;
  border-bottom-color: #1EAEDB;
}

.container-main {
  margin-top: 6.5rem;
  padding: 30px 0;
}
